input[type="date"]{
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #909090;
}

input[type="time"]{
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #909090;
}

input[type="text"]{
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.selected{
    color: #ff0000;
}