.center{
    display: flex;
    justify-content: center;
}

.gamingGlowButtonContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gamingGlowButton {
    position: relative;
    min-width: 230px;
    width: 20%;
    margin: 1.1em;
    padding: 0.3;
    background: linear-gradient(0.25turn, #56ccf2, #2f80ed);
    border: 0;
    cursor: pointer;
    border-radius: 10px;
}

.gamingGlowButton::before,
.gamingGlowButton::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(0.25turn, #56ccf2, #2f80ed);
    border-radius: 20px;
    transition: all .5s ease-in-out;
}

.gamingGlowButton:hover::before{
    filter: blur(0px);
}

.gamingGlowButton:hover::after{
    filter: blur(15px);
}

.gamingGlowButton:hover{
    animation: hue 5s linear infinite;
}

.gamingGlowButton:focus{
    outline: none;
    animation: hue 0.3s linear infinite;
}

.gamingGlowButton:focus::before{
    filter: blur(0px);
}

.gamingGlowButton:focus::after{
    filter: blur(15px);
}


.gamingGlowButton span {
    position: relative;
    z-index: 3;
    display: block;
    padding: 1.3em;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    background-color: #0a0a0a;
    border-radius: 10px;
}

@keyframes hue{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg)
    }
}

/* h1{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #fff;
    cursor: pointer;
}

h2{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 1.3em;
    color: #fff;
    cursor: pointer;
}

nav {
    margin: 0;
    padding: 15px;
    align-items: center;
    background-color: #202020;    
} */

.underNav{
    background: linear-gradient(0.25turn, #06ccf2, #8fA00d);
    height: 5px;
    animation: hue 5s linear infinite;
}

.logoFull{
    width: 300px;
}

/* .playzone{
    background-color: antiquewhite;
    width: 100%;
    height: 600px;
    padding: 10px;
    box-shadow: #313131 2px 10px 10px;
}

.card{
    width: 128px;
    box-shadow: #333 1px 1px 3px;
    cursor: grab;

}

.card:active{
    cursor: grabbing;
}

.section{
    background-color: #303040;
    border-radius: 10px 10px;
    padding: 20px;
    box-shadow: #202020 2px 2px 2px;
    transition: ease-in-out 0.1s;
}

.section:hover{
    transition: ease-in-out 0.1s;
    transform: scale(1.005);
    box-shadow: #202020 3px 3px 3px 3px;
}

 */

