

.phone{
    height: 620px;
    width: 288px;
    border: #FFFFFF 3px solid;
    background-color: #EEEEEE;
    border-radius: 40px;
    box-shadow: inset 5px 0px 20px 10px white, inset -5px 0px 20px 10px gray,  50px 50px 20px 10px #101010A0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)  0.3s;
}

.phone:hover{
    transform: scale(1.1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)  0.3s;
    box-shadow: inset 5px 0px 20px 10px white, inset -5px 0px 20px 10px gray,  70px 70px 20px 10px #101010A0;
}

.screen{
    margin: 30px 20px 0px 20px;
    width: 238px;
    height: 560px;
    overflow: scroll;
}



::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}